@{
    ViewBag.Title = "About us";
}

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About us</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>About us</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container margin-bottom-45">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="~/Content/images/freedomwealth.png" class="margin-top-45 centered" />
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <h4 class="headline margin-top-25 margin-bottom-25">Freedom Wealth Advisers</h4>
            <p class="margin-bottom-5">Freedom is a fee for service advisory firm specialising in</p>
            <ul class="list-4 color margin-bottom-25">
                <li>Lending</li>
                <li>Insurance</li>
                <li>Small Business Advice</li>
            </ul>

        </div>
    </div>

    <blockquote>
        Our business is client centric and always focused on adding value.
        Our team has over 15 years of financial services experience and we are passionate about small businesses
    </blockquote>
    <br />

    <h4 class="headline margin-bottom-25">
        GC Legal   @*<img src="~/Content/images/executivelegel.png" class="img-responsive" />*@
    </h4>
    <p class="margin-bottom-25">
        GC Legal is a boutique law firm specialising in Taxation Law, Trusts & SMSF, Commercial Law and Regulatory Compliance. We provide legal advice as well as
        litigation and dispute resolution services. Our Lawyers work with successful entrepreneurs, wealthy families and domestic and international businesses to achieve tax
        efficiencies, protect wealth, manage and build commercial relationships and comply with domestic and international regulatory obligations.
 <br/> <br />E-Mail: contact@latitudelegal.com.au <br />   Phone: (02) 9929 4043
      
    </p>

</div>




