@{
    ViewBag.Title = "faq";
}

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Frequently Asked Questions</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Frequently Asked Questions</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container margin-bottom-45">
    <div class="style-2">
        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    How much does it cost to register a company?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>
                    <mark> Our company registration fee is $508 inc Gst + $9.19 credit card charge fee  </mark><br />
                    Our fee includes professional review and lodgement of your application. We prepare all your
                    required legal documentation such as consents, the share registry, share certificates,
                    constitution and opening minutes for a company.
                </p>
            </div>
        </div>


        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    What are the costs for maintaining a company?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <ul class="list-2">
                    <li>You will need an accountant to complete and lodge your company’s tax return</li>
                    <li>You may need a book keeping solution or a book keeper to assist with BAS lodgements</li>
                    <li>
                        Asic will charge you a company renewal fee each year for which the company is operational. This fee is $263 for 2018-19,
                        this increases Each year to keep up with inflation.
                    </li>
                    <li>
                        Special purpose companies such as SMSF Trustee companies and Charities pay $53
                        On renewal of registration
                    </li>
                </ul>
            </div>
        </div>

        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    Do you have a refund policy?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>
                    You accept and agree that due to the nature of our products, we only provide refunds or exchanges at our absolute discretion in exceptional circumstances.
                    With company orders, a fee of $488 is paid to ASIC for the registration of the company name. This fee is not refundable by ASIC. Any change of name, will attract a fee of $387 from ASIC. Our fee is $20 plus $2 Gst. All Deed orders, $199 inc Gst + $3.48 credit card fee, may be refunded, if any error is made by us in the preparation of the deed. 
                    <br />
                    You agree to provide any other information or materials we ask for that we believe is relevant to our decision.
                </p>
            </div>
        </div>

        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    Who can register an Australian company?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>
                    Anybody over the age of 18 who is not bankrupt, can form an Australian company. At least one director must 
                    be a resident of Australia and the company&#39;s office address should be an Australian address. You 
                    cannot use a post office box as a registered address.
                </p>
            </div>
        </div>



        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    How do I fix mistakes on my company application?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>
                    If your application is rejected by ASIC for any reason, you can login to your account
                    to edit the information before resubmitting it.
                </p>
                <p>
                    If the company has already been registered, and you wish to change any of the following
                </p>
                <ul class="list-1">
                    <li>Company name</li>
                    <li>Directors name</li>
                    <li>Date of birth</li>
                    <li>or Share allocation</li>
                </ul>
                <p>
                    We can help you change all the above for a small cost of $55. If you decide to change the

                    company name, you will need to pay a fee to ASIC of $389 and the lodgement of a form 205a

                    done directly with ASIC. ASIC provides a number of forms for the ongoing compliance of

                    registered companies which are <a href="http://www.asic.gov.au/regulatory-resources/forms/">listed here</a> .
                </p>

                <h5>These common ASIC forms used for changes:</h5>
                <ul class="list-1">
                    <li>
                        Incorrect Company Name – use the  <a href="http://www.asic.gov.au/asic/asic.nsf/asic+formsdisplayW?readform&amp;code=205">Form 205a</a>

                        Even if it is just a typing mistake you will need to lodge a <a href="http://www.asic.gov.au/asic/asic.nsf/asic+formsdisplayW?readform&amp;code=205">form 205a</a>  which ASIC The Fee is

                        $387 to lodge.
                    </li>
                    <li>
                        Incorrect personal information – use the <a href="http://www.asic.gov.au/asic/asic.nsf/asic+formsdisplayW?readform&amp;code=492"> Form 492</a>

                        IE: incorrect full name John Peter Smith, incorrect DOB
                    </li>
                    <li>
                        To change any company details, use a <a href="http://www.asic.gov.au/asic/asic.nsf/asic+formsdisplayW?readform&amp;code=484">Form 484</a>
                    </li>
                </ul>

                <p>
                    <strong>
                        <em>
                            Note - We can help you change any of this information for a small fee of $55. A company

                            name change is a manual application (205a) to ASIC.
                        </em>
                    </strong>
                </p>
            </div>
        </div>

        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    What information do I need before setting up a company?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>You will need handy the following information:</p>
                <ul class="list-2">
                    <li>
                        The proposed company name
                    </li>
                    <li>
                        Full name, full residential address and date and place of birth for each director of the
                        company.
                    </li>
                    <li>
                        Full name, address and number of shares for each member of the company
                        <br />
                        <small>
                            TIP - You can choose a home address for trustee companies or a business address
                        </small>
                    </li>
                    <li>
                        The address of the registered office and principal place of business.
                    </li>
                </ul>
            </div>
        </div>



        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    What Does It Cost to Register a Company?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>When you register a company via our service we charge the following fees.</p>
                <table class="basic-table margin-top-45">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>G.S.T.</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                ASIC REGISTRATION FEE (charged by A.S.I.C)
                            </td>
                            <td>$488</td>
                            <td>$0</td>
                            <td>$488</td>
                        </tr>
                        <tr>
                            <td>
                                COMDEEDS SERVICE FEE
                            </td>
                            <td>$20</td>
                            <td>$2</td>
                            <td>$22</td>
                        </tr>
                        <tr>
                            <td colspan="3"><b>Total</b></td>
                            <td>
                                <b>$508*</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="font-weight:bold;"><em>*before credit card fees of 1.75% + 0.30cents</em></p>
            </div>
        </div>

        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    How long will it take to setup my company?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>
                    It takes approximately 5-10 minutes to complete our application form (depending on the

                    number of company officers and the number of shareholders in your company and the

                    holding entities etc.). If your application has no errors and doesn&#39;t get flagged for manual

                    approval, you will usually receive your ACN and company documentation within 3 - 10

                    minutes of submission.
                </p>
                <p>
                    Orders flagged for manual approval by ASIC, due to non-dictionary words in the company

                    name and your chosen name being identical to an existing registered state business name get

                    processed during normal business hours. You will receive a confirmation email with all

                    documents.
                </p>
            </div>
        </div>


        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    Do I need to post any documents or order a company seal?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>
                    No. Our electronic system means you can form your company online using our form, with all

                    the required legal documents provided to you. A company is seal is optional and is not

                    required by law.
                </p>
            </div>
        </div>


        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    Is identification required?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>Identification is not required by us or by ASIC. 
                    <mark>
                        False information provided to ASIC may
                        result in penalties.
                    </mark></p>
            </div>
        </div>

        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    Why is your service so cheap?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>We aim to be competitive with our service to attract new professional business and direct clients.</p>
                <p>We also offer other services such as</p>
                <ul class="list-4">
                    <li>SMSF administration services, Insurance advice and legal services</li>
                </ul>
                <p>Comdeeds aims to provide a valuable service to Australian consumers. Simple company setup forms, clear and concise trust documents that are easy to comprehend.</p>
            </div>
        </div>

        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    Standard share codes?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>ASIC lists “<b>REDP</b>” as the standard share code for Redeemable Preference Shares in addition to defining a range of other Standard Share Codes which can be used to describe the various different classes of shares.</p>       
                <p>What is important to understand is that the rights and entitlements associated with those shares are not generic, but can be defined by the members passing a special resolution of the Company or by amending the Constitution to include the rights and obligations associated with those shares. Therefore the codes may be standard, but the rights and obligations may not be.</p>
            </div>
        </div>

        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    Power to issue?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>Section <a href="#">254A</a> of the Act provides for the issue of bonus, partly paid, preference and Redeemable Preference Shares.</p>
                <p>In particular section <a href="#">254A(3)</a> provides that:</p>
                <p>Redeemable preference shares are preference shares that are issued on the terms that they are liable to be redeemed. They may be redeemable.</p>
                <ul class="list-1">
                    <li> at a fixed time or on the happening of a particular event.</li>
                    <li> at the company’s option. </li>
                    <li> at the shareholders option. </li>
                </ul>
            </div>
        </div>


        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    General requirements for issue and redemption?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>Further requirements for Redeemable Preference Shares are provided in sections <a href="#">254J – 254L</a> of the Act.</p>
                <ul class="list-1">
                    <li>  the redemption of shares can only be in accordance with the terms of their issue –<a href="#"> s254J;</a></li>
                    <li>  a company can only redeem Redeemable Preference Shares if the shares are fully paid up and out of profits of the proceeds of a new issue of shares made for the purpose of redemption – s254K; </li>
                    <li>  section <a href="#">254L</a> describes the consequences of contravening the provisions dealing with Redeemable Preference Shares. </li>
                </ul>
            </div>
        </div>

        <div class="toggle-wrap">
            <span class="trigger ">
                <a href="#">
                    Process for issuance?
                    <i class="sl sl-icon-plus"></i>
                </a>
            </span>
            <div class="toggle-container">
                <p>For a proprietary company to issue preference shares, a special resolution must be passed by the members or the terms in relation to the shares be described  in the Company’s constitution pursuant to section 254A(3).</p>
                <p>ASIC requires the following forms to be lodged:</p>
                <ul class="list-1">
                    <li> Form 2205 Notification of resolutions regarding shares.</li>
                    <li>Form 210 Notification of statement or special rights carried by shares within 14 days after the rights are made created. </li>
                </ul>
            </div>
        </div>

    </div>

</div>

