
@{
    Layout = null;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentStatus</title>

    <script>
  setTimeout ( function(){
                             window.location.href = "Bypas";},
                             5000 );
    </script>

  
</head>
<body>
    <center>
        <div>
            <h4 style="
    color: green;
    font-weight: 800;
    font-size: 20px;
    margin-top: 5%;
">
                @*Congratulations,<br />
                Payment has been completed successfully. Please wait while we are generating your documents.<br />*@
                  Thank you, we are processing your payment, please wait a few minutes whilst we generate your documents.
            </h4>
            <br />
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10607/spinner2.gif" style="
    margin-top: -15px;
" />
        </div>
    </center>
</body>
</html>
