<!DOCTYPE html>
<html>
<head>
    <title>Cheap Company Setup</title>
    <meta charset="utf-8">

    <meta name="google-site-verification" content="2ctVqhEWCOeVPR-ZoZtqsPKrEPMGxIkgQUfBp5uF3rU" />
    <link rel="shortcut icon" href="/Content/images/tlogo1.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/Content/css/style.css" media="all">
    <link rel="stylesheet" href="~/Content/css/colors/sitecolor.css">
    <link rel="stylesheet" href="~/Content/plugin/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/Content/css/grid.min.css">
    <link rel="stylesheet" href="/Content/css/Site.css" media="all">
    <link href="~/Content/footer.css" rel="stylesheet" />

    <script type="text/javascript" src="/Content/scripts/jquery-2.2.0.min.js"></script>

    <script type="text/javascript" src="/Content/scripts/knockout-3.4.2.js"></script>
    <script src="~/Content/scripts/knockout-validation.js"></script>
    <script src="~/Content/scripts/grid.min.js"></script>
    <script src="~/Content/scripts/toastr.js"></script>
    @*<script type="text/javascript">

             var headID = document.getElementsByTagName("head")[0];
             var newCss = document.createElement('link');
             newCss.rel = 'stylesheet';
             newCss.type = 'text/css';
             window._botUsername = '734694';
             window._botName = 'Sam';
             newCss.href = "http://rebot.me/assets/css/bot.css";

             var newScript = document.createElement('script');
             newScript.src = "http://rebot.me/assets/js/bot.js";
             newScript.type = 'text/javascript';

             headID.appendChild(newScript);
             headID.appendChild(newCss);
        </script>*@
    <!--Start of Tawk.to Script-->
    @*<script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5b0d285210b99c7b36d469e1/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>*@
    <!--End of Tawk.to Script-->
    <script type="text/javascript">!function (t, e) { "use strict"; var r = function (t) { try { var r = e.head || e.getElementsByTagName("head")[0], a = e.createElement("script"); a.setAttribute("type", "text/javascript"), a.setAttribute("src", t), r.appendChild(a) } catch (t) { } }; t.CollectId = "5afeab460ac0c1acb29e7cfe", r("https://collectcdn.com/launcher.js") }(window, document);</script>
    @*<script type="text/javascript">!function (t, e) { "use strict"; var r = function (t) { try { var r = e.head || e.getElementsByTagName("head")[0], a = e.createElement("script"); a.setAttribute("type", "text/javascript"), a.setAttribute("src", t), r.appendChild(a) } catch (t) { } }; t.CollectId = "5afeab460ac0c1acb29e7cfe", r("https://s3.amazonaws.com/collectchat/launcher.js") }(window, document);</script>*@
    <script>
        var ElePager = {
            limit: 10,
            sizes: [10, 50, 100],
            leftControls: [
                $('<div title="First" data-role="page-first" class="sl sl-icon-control-start pager-icon" aria-hidden="true"></div>'),
                $('<div title="Previous" data-role="page-previous" class="sl sl-icon-arrow-left pager-icon" aria-hidden="true"></div>'),
                $('<div> Page </div>'),
                $('<div></div>').append($('<input type="text" data-role="page-number" class="form-control pager-input" value="0">')),
                $('<div>of </div>'),
                $('<div data-role="page-label-last" style="margin-right: 5px;">0</div>'),
                $('<div title="Next" data-role="page-next" class="sl sl-icon-arrow-right pager-icon" aria-hidden="true"></div>'),
                $('<div title="Last" data-role="page-last" class="sl sl-icon-control-end pager-icon" aria-hidden="true"></div>'),
                $('<div title="Reload" data-role="page-refresh" class="sl sl-icon-refresh pager-icon" aria-hidden="true"></div>'),
                $('<div></div>').append($('<select data-role="page-size" class="form-control pager-input"></select>'))
            ],
            rightControls: [
                $('<div>Displaying records </div>'),
                $('<div data-role="record-first">0</div>'),
                $('<div> - </div>'),
                $('<div data-role="record-last">0</div>'),
                $('<div> of </div>'),
                $('<div data-role="record-total">0</div>').css({ "margin-right": "5px" })
            ]
        };
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": true,
            "showDuration": "200",
            "hideDuration": "200",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
            "showEasing": "swing",
            "hideEasing": "swing"
        };
    </script>

    <!--Mukesh-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 0.07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="wp-block-library-css" href="~/Content/css/style.min.css" type="text/css" media="all">

    <link rel="stylesheet" id="elementor-frontend-css" href="~/Content/css/frontend-lite.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-1335-css" href="~/Content/css/post-1335.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-global-css" href="~/Content/css/global.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-1285-css" href="~/Content/css/post-1285.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-1378-css" href="~/Content/css/post-1378.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-1381-css" href="~/Content/css/post-1381.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/css/widget-posts.min.css">

    @*<script type="text/javascript" src="~/Content/scripts/jquery.min.js.download" id="jquery-core-js"></script>
        <script type="text/javascript" src="~/Content/scripts/jquery-migrate.min.js.download" id="jquery-migrate-js"></script>*@


    <link href="~/Content/css/icons.css" rel="stylesheet" />
    <style>
        .elementor-item {
            font-size: 16px !important;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        @*<header id="header-container">

            <div class="clearfix"></div>
            <!-- Topbar / End -->
            <!-- Header -->
            <div id="header">
                <div class="container">

                    <!-- Left Side Content -->
                    <div class="left-side">
                        <div id="logo">
                            <a href="/"><img src="~/Content/images/logo.jpg" alt=""></a>
                        </div>
                        <div class="menu-responsive">
                            <i class="fa fa-reorder menu-trigger"></i>
                        </div>
                        <nav id="navigation" class="style-1">
                            <ul id="responsive">

                                <li>
                                    <a href="/company-setup">Company setup</a>
                                </li>
                                <li>
                                    <a href="/trustsetup">Trust setup</a>
                                </li>
                                <li>
                                    <a href="/aboutus">About us</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact us</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                    </div>

                    <div class="right-side">
                        <!-- Header Widget -->
                        <div class="header-widget">

                            @{
                                if (Convert.ToBoolean(ViewBag.IsAuthUser))
                                {
                                    <div class="top-bar-dropdown">
                                        <span>
                                            <i class="sl-icon-user sl"></i> Hi, @ViewBag.username
                                        </span>
                                        <ul class="options">
                                            <li><div class="arrow"></div></li>
                                            <li><a href="/user/dashboard">My Profile</a></li>
                                            <li><a href="/user/signout">Logout</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <a href="/user/signin" style="font-size: 15px;line-height: 32px;padding: 6px 16px;display:inline-block">
                                        <i class="sl-icon-user sl"></i> Log In
                                    </a>
                                }
                            }


                        </div>
                        <!-- Header Widget / End -->
                    </div>


                </div>
            </div>

        </header>*@

        <div data-elementor-type="header" data-elementor-id="1378" class="elementor elementor-1378 elementor-location-header">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-3ed570d0 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-sticky--effects elementor-sticky elementor-sticky--active elementor-section--handles-inside" data-id="3ed570d0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;],&quot;animation_tablet&quot;:&quot;none&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}" style="position: fixed; width: 1519.2px; margin-top: 0px; margin-bottom: 0px; top: 0px;">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6725130a" data-id="6725130a" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-3492a782 elementor-widget elementor-widget-image" data-id="3492a782" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    
                                    <a href="https://cheapcompanysetup.com.au/">
                                        <img width="660" height="277" src="~/Content/images/logo.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://cheapcompanysetup.com.au/wp-content/uploads/2022/04/image__2_-removebg-preview.png 734w, https://cheapcompanysetup.com.au/wp-content/uploads/2022/04/image__2_-removebg-preview-300x126.png 300w" sizes="(max-width: 660px) 100vw, 660px">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-786bd405" data-id="786bd405" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-278eeecc elementor-nav-menu__align-right elementor-nav-menu--stretch elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="278eeecc" data-element_type="widget" data-settings="{&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;i class=\&quot;fas fa-angle-down\&quot;&gt;&lt;\/i&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
                                <div class="elementor-widget-container">
                                    <link rel="stylesheet" href="~/Content/css/widget-nav-menu.min.css">			<nav migration_allowed="1" migrated="0" role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">
                                        <ul id="menu-1-278eeecc" class="elementor-nav-menu" data-smartmenus-id="16514191812279802">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1555"><a href="https://cheapcompanysetup.com.au/company-setup/" class="elementor-item">Company setup</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1441"><a href="https://cheapcompanysetup.com.au/about-us/" class="elementor-item">About us</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1442"><a href="https://cheapcompanysetup.com.au/contact-us/" class="elementor-item">Contact us</a></li>
                                        </ul>
                                    </nav>
                                    <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false" style="">
                                        <i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>			<span class="elementor-screen-only">Menu</span>
                                    </div>
                                    <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true" style="top: 36.5px; width: 1519px; left: 0px;">
                                        <ul id="menu-2-278eeecc" class="elementor-nav-menu" data-smartmenus-id="16514191812293743">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1555"><a href="https://cheapcompanysetup.com.au/company-setup/" class="elementor-item" tabindex="-1">Company setup</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1441"><a href="https://cheapcompanysetup.com.au/about-us/" class="elementor-item" tabindex="-1">About us</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1442"><a href="https://cheapcompanysetup.com.au/contact-us/" class="elementor-item" tabindex="-1">Contact us</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2e334a1a" data-id="2e334a1a" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            @{
                                if (Convert.ToBoolean(ViewBag.IsAuthUser))
                                {
                                    <div class="top-bar-dropdown">
                                        <span>
                                            <i class="sl-icon-user sl"></i> Hi, @ViewBag.username
                                        </span>
                                        <ul class="options">
                                            <li><div class="arrow"></div></li>
                                            <li><a href="/user/dashboard">My Profile</a></li>
                                            <li><a href="/user/signout">Logout</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="elementor-element elementor-element-1d23f87a elementor-align-right elementor-widget__width-auto elementor-tablet-align-right elementor-widget-tablet__width-inherit elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-button" data-id="1d23f87a" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="https://cheapcompanysetup.com.au/company-setup" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-icon elementor-align-icon-right">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve"><g>	<g>		<path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12   c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028   c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265   c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"></path>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                        </span>
                                                        <span class="elementor-button-text">Login</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            
                            @*<div class="elementor-element elementor-element-74dc4ff elementor-align-justify elementor-widget__width-auto elementor-tablet-align-right elementor-widget-tablet__width-inherit elementor-fixed elementor-hidden-desktop elementor-widget elementor-widget-button" data-id="74dc4ff" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;fixed&quot;}" data-widget_type="button.default">
            <div class="elementor-widget-container">
                <div class="elementor-button-wrapper">
                    <a href="https://cheapcompanysetup.com.au/company-setup/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                        <span class="elementor-button-content-wrapper">
                            <span class="elementor-button-icon elementor-align-icon-right">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve"><g>	<g>		<path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12   c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028   c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265   c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"></path>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            </span>
                            <span class="elementor-button-text">Setup Company Now</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>*@
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-3ed570d0 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-sticky--effects elementor-sticky elementor-sticky__spacer" data-id="3ed570d0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;],&quot;animation_tablet&quot;:&quot;none&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}" style="visibility: hidden; transition: none 0s ease 0s; animation: 0s ease 0s 1 normal none running none;">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6725130a" data-id="6725130a" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-3492a782 elementor-widget elementor-widget-image" data-id="3492a782" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a href="https://cheapcompanysetup.com.au/">
                                        <img width="660" height="277" src="~/Content/images/logo.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://cheapcompanysetup.com.au/wp-content/uploads/2022/04/image__2_-removebg-preview.png 734w, https://cheapcompanysetup.com.au/wp-content/uploads/2022/04/image__2_-removebg-preview-300x126.png 300w" sizes="(max-width: 660px) 100vw, 660px">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-786bd405" data-id="786bd405" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-278eeecc elementor-nav-menu__align-right elementor-nav-menu--stretch elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="278eeecc" data-element_type="widget" data-settings="{&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;i class=\&quot;fas fa-angle-down\&quot;&gt;&lt;\/i&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
                                <div class="elementor-widget-container">
                                    <link rel="stylesheet" href="~/Content/css/widget-nav-menu.min.css">
                                    <nav migration_allowed="1" migrated="0" role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">
                                        <ul id="menu-1-278eeecc" class="elementor-nav-menu" data-smartmenus-id="16514191812279802">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1555"><a href="https://cheapcompanysetup.com.au/company-setup/" class="elementor-item">Company setup</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1441"><a href="https://cheapcompanysetup.com.au/about-us/" class="elementor-item">About us</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1442"><a href="https://cheapcompanysetup.com.au/contact-us/" class="elementor-item">Contact us</a></li>
                                        </ul>
                                    </nav>
                                    <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false" style="">
                                        <i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>			<span class="elementor-screen-only">Menu</span>
                                    </div>
                                    <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true" style="width: 1519px; left: 0px; top: 36.5px;">
                                        <ul id="menu-2-278eeecc" class="elementor-nav-menu" data-smartmenus-id="16514191812293743">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1555"><a href="https://cheapcompanysetup.com.au/company-setup/" class="elementor-item" tabindex="-1">Company setup</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1441"><a href="https://cheapcompanysetup.com.au/about-us/" class="elementor-item" tabindex="-1">About us</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1442"><a href="https://cheapcompanysetup.com.au/contact-us/" class="elementor-item" tabindex="-1">Contact us</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2e334a1a" data-id="2e334a1a" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-1d23f87a elementor-align-right elementor-widget__width-auto elementor-tablet-align-right elementor-widget-tablet__width-inherit elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-button" data-id="1d23f87a" data-element_type="widget" data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-button-wrapper">
                                        <a href="https://cheapcompanysetup.com.au/company-setup" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                            <span class="elementor-button-content-wrapper">
                                                <span class="elementor-button-icon elementor-align-icon-right">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve"><g>	<g>		<path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12   c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028   c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265   c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"></path>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                </span>
                                                <span class="elementor-button-text">Login</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            @*<div class="elementor-element elementor-element-74dc4ff elementor-align-justify elementor-widget__width-auto elementor-tablet-align-right elementor-widget-tablet__width-inherit elementor-fixed elementor-hidden-desktop elementor-widget elementor-widget-button" data-id="74dc4ff" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;fixed&quot;}" data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-button-wrapper">
                                        <a href="https://cheapcompanysetup.com.au/company-setup/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                            <span class="elementor-button-content-wrapper">
                                                <span class="elementor-button-icon elementor-align-icon-right">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve"><g>	<g>		<path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12   c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028   c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265   c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"></path>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                </span>
                                                <span class="elementor-button-text">Setup Company Now</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="clearfix"></div>

        @RenderBody()

        <!-- Footer
    ================================================== -->
        @*<div class="why_comdeeds">
                    <div class="footer-div">
                        <ul>
                            <li>
                                <a href="https://www.comdeeds.com.au/c/online-company-setup-australia/
        ">Online Company Setup Australia</a>
                            </li>
                            <li>
                                <a href="https://www.comdeeds.com.au/c/cheapest-company-setup-australia/
        ">Cheapest Company Setup Australia</a>
                            </li>
                            <li>
                                <a href="https://www.comdeeds.com.au/c/smsf-crypto-deed-australia/
        ">SMSF Crypto Deed Australia</a>
                            </li>
                            <li>
                                <a href="https://www.comdeeds.com.au/c/update-my-smsf-deed-australia/
        ">Update My Smsf Deed Australia</a>
                            </li>
                            <li><a href="https://www.comdeeds.com.au/c/simple-company-setup-australia/">Simple Company Setup Australia</a></li>
                        </ul>
                    </div>
                </div>*@
        @*<div id="footer" class="clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 block1">
                        <div class="textwidget custom-html-widget">
                            <img class="footer-logo" src="https://www.comdeeds.com.au/c/wp-content/uploads/2018/08/footer-logo.png" alt="">
                            <p>
                                Whether you are an IT contractor,small business owner or entrepreneur, Comdeeds is here to help and support you.We are just passionate about Business and Trusts.
                            </p>

                            <img class="footer-secure" src="https://www.comdeeds.com.au/c/wp-content/uploads/2018/08/secure-logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 block2">
                        <h4>Helpful Links</h4><div class="menu-footer-service-menu-container">
                            <ul id="menu-footer-service-menu" class="menu">
                                <li id="menu-item-951" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-951"><a href="https://www.comdeeds.com.au/c/about/">About us</a></li>
                                <li id="menu-item-947" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-947"><a href="https://www.comdeeds.com.au/c/faq/">FAQ</a></li>
                                <li id="menu-item-949" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-949"><a href="https://www.comdeeds.com.au/c/terms-and-conditions/">Terms and conditions</a></li>
                                <li id="menu-item-942" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-942"><a href="https://www.comdeeds.com.au/c/privacy-policy/">Privacy policy</a></li>
                                <li id="menu-item-950" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-950"><a href="https://www.comdeeds.com.au/c/contact/">Contact</a></li>
                                <li id="menu-item-977" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-977"><a href="https://www.comdeeds.com.au/c/blog/">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 block3">
                        <h4>Recent Posts</h4>

                        <div class="recentpost-block clearfix">
                            <div class="thumbnail">
                                <a href="https://www.comdeeds.com.au/c/setting-up-a-company-online/"><img src="https://www.comdeeds.com.au/c/wp-content/uploads/2018/08/starting-a-company-image-150x150.jpg" alt="Online Company Setup Australia"></a>
                            </div>
                            <div class="content">
                                <h6><a href="https://www.comdeeds.com.au/c/setting-up-a-company-online/">Setting up a Company Online</a></h6>
                                <p>Here are some tips for setting…	</p>
                            </div>
                        </div>
                        <div class="recentpost-block clearfix">
                            <div class="thumbnail">
                                <a href="https://www.comdeeds.com.au/c/blog-post-one/"><img src="https://www.comdeeds.com.au/c/wp-content/uploads/2018/08/nsw2-150x150.jpg" alt="Online Company Setup Australia"></a>
                            </div>
                            <div class="content">
                                <h6><a href="https://www.comdeeds.com.au/c/blog-post-one/">Blog Post One</a></h6>
                                <p>	</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3  col-sm-6 block4">
                        <h4>Contact Us</h4><div class="textwidget custom-html-widget">
                            <p><strong>Phone :</strong> <a href="tel:1300253429">1300 253 429</a></p>
                            <p><strong>E-Mail :</strong> <a href="mailto:info@comdeeds.com.au">info@comdeeds.com.au</a></p><p><strong>Address :</strong> PO BOX 878 North Sydney NSW 2059</p>
                            <ul class="social-icons margin-top-20">
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="gplus" href="#"><i class="fa fa-google-plus"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyrights">
                            <p><span>© 2020 comdeeds.com.au. / ABN 83 138 817 571 </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


        @*<div id="footer">
            <!-- Main -->
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <img class="footer-logo" src="~/Content/images/logo.jpg" alt="">
                        <br><br>
                        <p>
                            Whether you are an IT contractor,small business owner or entrepreneur, Comdeeds is here to help and support you.We are just passionate about Business and Trusts.

                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 ">
                        <h4>Helpful Links</h4>

                        <ul class="footer-links">
                            <li><a href="/aboutus">About us</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/terms-and-conditions">Terms and conditions</a></li>
                            <li><a href="/privacy-policy">Privacy policy</a></li>
                            <li><a href="/contact">Contact us</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-3  col-sm-12">
                        <h4>Contact Us</h4>
                        <div class="text-widget">
                            <span>PO BOX 878 North Sydney NSW 2059</span> <br>
                            Phone: <span> 1300253429 </span><br>
                            E-Mail:<span> info@comdeeds.com.au</span><br>
                        </div>

                        <ul class="social-icons margin-top-20">
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>

                        </ul>
                        <div class="clearfix"></div>

                    </div>

                </div>

                <!-- Copyright -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyrights">
                            <p>&copy; 2017 comdeeds.com.au / ABN 83 138 817 571</p>

                            <div style="text-align:center;">

                                <ul class="list-inline">
                                    <li role="presentation" style="vertical-align:middle">

                                    </li>
                                    <li role="presentation" style="vertical-align:middle">
                                        <img src="~/Content/images/crazy-domainn.png" width="100" class="img-responsive" style="width: 170px;" alt="SSL secured connection"  />
                                    </li>
                                </ul>




                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>*@
        @*<div id="backtotop"><a href="#"></a></div>*@

        @*--------------Mukesh----------*@
        <div data-elementor-type="wp-page" data-elementor-id="1285" class="elementor elementor-1285">
            <div class="elementor-widget-wrap elementor-element-populated">



                <div class="elementor-element elementor-element-bd6e179 elementor-icon-list--layout-inline elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="bd6e179" data-element_type="widget" data-widget_type="icon-list.default">
                    <div class="elementor-widget-container">
                        <link rel="stylesheet" href="~/Content/css/widget-icon-list.min.css">
                    </div>
                </div>
            </div>


            
        </div>
        <div data-elementor-type="footer" data-elementor-id="1381" class="elementor elementor-1381 elementor-location-footer">

            <section class="elementor-section elementor-top-section elementor-element elementor-element-17b554e elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="17b554e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5637490d" data-id="5637490d" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-4e4dd3fc elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4e4dd3fc" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-11875cc1" data-id="11875cc1" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-4291bde4 elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="4291bde4" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <a href="https://cheapcompanysetup.com.au/">
                                                        <img width="660" height="277" src="~/Content/images/logo.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://cheapcompanysetup.com.au/wp-content/uploads/2022/04/image__2_-removebg-preview.png 734w, https://cheapcompanysetup.com.au/wp-content/uploads/2022/04/image__2_-removebg-preview-300x126.png 300w" sizes="(max-width: 660px) 100vw, 660px">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-36d0d1b6 elementor-widget elementor-widget-text-editor" data-id="36d0d1b6" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <p>Whether you are an IT contractor, small business owner or crypto start up, we are here to help and support you, with a Cheap Company Setup</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-2e739d5f" data-id="2e739d5f" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-2473276d elementor-widget elementor-widget-heading" data-id="2473276d" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h4 class="elementor-heading-title elementor-size-default">Quick Links</h4>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-65ccf8bb elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="65ccf8bb" data-element_type="widget" data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                        <li class="elementor-icon-list-item">
                                                            <a href="http://business.gov.au/" target="_blank">

                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="fa fa-caret-right"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Starting a Business Guide </span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="https://www.abrs.gov.au/director-identification-number" target="_blank">

                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="fa fa-caret-right"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Director Identification Registration</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="https://cheapcompanysetup.com.au/company-setup">

                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="fa fa-caret-right"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">ABN Registration Form</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="https://cheapcompanysetup.com.au/faq/">

                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="fa fa-caret-right"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">FAQ’s</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="https://cheapcompanysetup.com.au/blog/">

                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="fa fa-caret-right"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Blog</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-12036e02" data-id="12036e02" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-373ad505 elementor-widget elementor-widget-heading" data-id="373ad505" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h4 class="elementor-heading-title elementor-size-default">Our Company</h4>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-12a18a99 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="12a18a99" data-element_type="widget" data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                        <li class="elementor-icon-list-item">
                                                            <a href="mailto:info@cheapcompanysetup.com.au">

                                                                <span class="elementor-icon-list-icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g>	<g>		<path d="M485.743,85.333H26.257C11.815,85.333,0,97.148,0,111.589V400.41c0,14.44,11.815,26.257,26.257,26.257h459.487   c14.44,0,26.257-11.815,26.257-26.257V111.589C512,97.148,500.185,85.333,485.743,85.333z M475.89,105.024L271.104,258.626   c-3.682,2.802-9.334,4.555-15.105,4.529c-5.77,0.026-11.421-1.727-15.104-4.529L36.109,105.024H475.89z M366.5,268.761   l111.59,137.847c0.112,0.138,0.249,0.243,0.368,0.368H33.542c0.118-0.131,0.256-0.23,0.368-0.368L145.5,268.761   c3.419-4.227,2.771-10.424-1.464-13.851c-4.227-3.419-10.424-2.771-13.844,1.457l-110.5,136.501V117.332l209.394,157.046   c7.871,5.862,17.447,8.442,26.912,8.468c9.452-0.02,19.036-2.6,26.912-8.468l209.394-157.046v275.534L381.807,256.367   c-3.42-4.227-9.623-4.877-13.844-1.457C363.729,258.329,363.079,264.534,366.5,268.761z"></path>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                                </span>
                                                                <span class="elementor-icon-list-text">info@cheapcompanysetup.com.au</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="tel:1300253429">

                                                                <span class="elementor-icon-list-icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" height="512" viewBox="0 0 512.001 512.001" width="512"><path d="m497.197 386.254-78.129-69.785c-16.168-14.439-40.205-15.116-57.157-1.608-8.411 6.702-19.015 15.169-31.789 25.403-9.649 7.729-22.607 8.411-33.013 1.734-28.762-18.454-52.056-36.737-71.212-55.894-19.158-19.158-37.441-42.452-55.893-71.212-6.677-10.406-5.996-23.364 1.735-33.014 10.233-12.774 18.7-23.379 25.402-31.789 13.506-16.952 12.831-40.99-1.607-57.156l-69.786-78.131c-8.42-9.429-19.552-14.544-32.191-14.792-12.629-.273-23.964 4.425-32.75 13.512l-38.612 39.944v.001c-29.327 30.338-29.606 79.487-.808 142.132 24.624 53.563 69.037 113.916 125.06 169.94 56.024 56.026 116.379 100.443 169.945 125.07 31.034 14.268 58.753 21.398 82.518 21.398 24.209 0 44.313-7.402 59.624-22.202l39.943-38.612c9.09-8.785 13.762-20.109 13.513-32.748-.248-12.639-5.364-23.771-14.793-32.191zm-9.839 53.435-39.944 38.612c-31.832 30.769-85.186 15.77-124.338-2.229-51.888-23.854-110.598-67.128-165.315-121.847-54.716-54.716-97.984-113.425-121.836-165.31-17.998-39.149-32.993-92.499-2.226-124.328l38.612-39.943c5.695-5.893 12.733-8.768 20.93-8.637 8.193.161 15.114 3.342 20.573 9.454l69.786 78.131c9.227 10.331 9.659 25.693 1.027 36.527-6.694 8.402-15.153 18.995-25.375 31.756-12.096 15.098-13.162 35.375-2.715 51.658 19.079 29.737 38.066 53.905 58.046 73.886 19.978 19.977 44.146 38.964 73.886 58.046 16.283 10.445 36.56 9.382 51.657-2.715 12.761-10.223 23.354-18.682 31.756-25.376 10.833-8.632 26.197-8.201 36.528 1.028l78.129 69.785c6.112 5.458 9.293 12.38 9.454 20.573.162 8.193-2.743 15.234-8.635 20.929zm-413.255-254.682c2.003 3.938.435 8.754-3.503 10.757-1.162.592-2.401.872-3.621.872-2.915 0-5.725-1.599-7.137-4.375-13.51-26.556-33.837-75.49-18.188-104.853 1.716-3.22 3.895-6.205 6.475-8.874 3.071-3.176 8.135-3.263 11.312-.19 3.177 3.07 3.262 8.136.191 11.312-1.567 1.62-2.829 3.347-3.858 5.278-13.052 24.49 10.729 75.134 18.329 90.073z"></path></svg>
                                                                </span>
                                                                <span class="elementor-icon-list-text">1300 253 429</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="tel:1300%20253%20429">

                                                                <span class="elementor-icon-list-icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 128 128"><g><path d="M62.594,112.389a1.755,1.755,0,0,0,1.383.708H64a1.749,1.749,0,0,0,1.377-.671c1.448-1.847,35.45-45.549,35.45-73.227a36.827,36.827,0,0,0-73.654,0c0,10.6,5.981,26.165,17.779,46.26C53.668,100.305,62.506,112.27,62.594,112.389ZM64,5.872A33.364,33.364,0,0,1,97.327,39.2c0,23.369-26.776,60.519-33.291,69.21C57.6,99.383,30.673,60.388,30.673,39.2A33.364,33.364,0,0,1,64,5.872Z"></path><path d="M85.17,39.2A21.17,21.17,0,1,0,64,60.369,21.193,21.193,0,0,0,85.17,39.2ZM64,56.869A17.67,17.67,0,1,1,81.67,39.2,17.69,17.69,0,0,1,64,56.869Z"></path><path d="M81.844,101.166a1.751,1.751,0,0,0-.426,3.475c15.067,1.849,19.942,5.337,19.942,6.736,0,2.627-13.186,7.74-37.36,7.74S26.64,114,26.64,111.377c0-1.5,4.781-4.569,17.613-6.425a1.751,1.751,0,0,0-.5-3.465c-9.4,1.361-20.612,4.18-20.612,9.89,0,8.247,24.435,11.24,40.86,11.24s40.86-2.993,40.86-11.24C104.86,104.951,90.44,102.222,81.844,101.166Z"></path></g></svg>
                                                                </span>
                                                                <span class="elementor-icon-list-text">903/50 Clarence St Sydney NSW 2000</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-44373641 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="44373641" data-element_type="widget" data-widget_type="social-icons.default">
                                                <div class="elementor-widget-container">
                                                    <style>
                                                        /*! elementor - v3.6.2 - 04-04-2022 */
                                                        .elementor-widget-social-icons.elementor-grid-0 .elementor-widget-container, .elementor-widget-social-icons.elementor-grid-mobile-0 .elementor-widget-container, .elementor-widget-social-icons.elementor-grid-tablet-0 .elementor-widget-container {
                                                            line-height: 1;
                                                            font-size: 0
                                                        }

                                                        .elementor-widget-social-icons:not(.elementor-grid-0):not(.elementor-grid-tablet-0):not(.elementor-grid-mobile-0) .elementor-grid {
                                                            display: inline-grid
                                                        }

                                                        .elementor-widget-social-icons .elementor-grid {
                                                            grid-column-gap: var(--grid-column-gap,5px);
                                                            grid-row-gap: var(--grid-row-gap,5px);
                                                            grid-template-columns: var(--grid-template-columns);
                                                            -webkit-box-pack: var(--justify-content,center);
                                                            -ms-flex-pack: var(--justify-content,center);
                                                            justify-content: var(--justify-content,center);
                                                            justify-items: var(--justify-content,center)
                                                        }

                                                        .elementor-icon.elementor-social-icon {
                                                            font-size: var(--icon-size,25px);
                                                            line-height: var(--icon-size,25px);
                                                            width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
                                                            height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)))
                                                        }

                                                        .elementor-social-icon {
                                                            --e-social-icon-icon-color: #fff;
                                                            display: -webkit-inline-box;
                                                            display: -ms-inline-flexbox;
                                                            display: inline-flex;
                                                            background-color: #818a91;
                                                            -webkit-box-align: center;
                                                            -ms-flex-align: center;
                                                            align-items: center;
                                                            -webkit-box-pack: center;
                                                            -ms-flex-pack: center;
                                                            justify-content: center;
                                                            text-align: center;
                                                            cursor: pointer
                                                        }

                                                            .elementor-social-icon i {
                                                                color: var(--e-social-icon-icon-color)
                                                            }

                                                            .elementor-social-icon svg {
                                                                fill: var(--e-social-icon-icon-color)
                                                            }

                                                            .elementor-social-icon:last-child {
                                                                margin: 0
                                                            }

                                                            .elementor-social-icon:hover {
                                                                opacity: .9;
                                                                color: #fff
                                                            }

                                                        .elementor-social-icon-android {
                                                            background-color: #a4c639
                                                        }

                                                        .elementor-social-icon-apple {
                                                            background-color: #999
                                                        }

                                                        .elementor-social-icon-behance {
                                                            background-color: #1769ff
                                                        }

                                                        .elementor-social-icon-bitbucket {
                                                            background-color: #205081
                                                        }

                                                        .elementor-social-icon-codepen {
                                                            background-color: #000
                                                        }

                                                        .elementor-social-icon-delicious {
                                                            background-color: #39f
                                                        }

                                                        .elementor-social-icon-deviantart {
                                                            background-color: #05cc47
                                                        }

                                                        .elementor-social-icon-digg {
                                                            background-color: #005be2
                                                        }

                                                        .elementor-social-icon-dribbble {
                                                            background-color: #ea4c89
                                                        }

                                                        .elementor-social-icon-elementor {
                                                            background-color: #d30c5c
                                                        }

                                                        .elementor-social-icon-envelope {
                                                            background-color: #ea4335
                                                        }

                                                        .elementor-social-icon-facebook, .elementor-social-icon-facebook-f {
                                                            background-color: #3b5998
                                                        }

                                                        .elementor-social-icon-flickr {
                                                            background-color: #0063dc
                                                        }

                                                        .elementor-social-icon-foursquare {
                                                            background-color: #2d5be3
                                                        }

                                                        .elementor-social-icon-free-code-camp, .elementor-social-icon-freecodecamp {
                                                            background-color: #006400
                                                        }

                                                        .elementor-social-icon-github {
                                                            background-color: #333
                                                        }

                                                        .elementor-social-icon-gitlab {
                                                            background-color: #e24329
                                                        }

                                                        .elementor-social-icon-globe {
                                                            background-color: #818a91
                                                        }

                                                        .elementor-social-icon-google-plus, .elementor-social-icon-google-plus-g {
                                                            background-color: #dd4b39
                                                        }

                                                        .elementor-social-icon-houzz {
                                                            background-color: #7ac142
                                                        }

                                                        .elementor-social-icon-instagram {
                                                            background-color: #262626
                                                        }

                                                        .elementor-social-icon-jsfiddle {
                                                            background-color: #487aa2
                                                        }

                                                        .elementor-social-icon-link {
                                                            background-color: #818a91
                                                        }

                                                        .elementor-social-icon-linkedin, .elementor-social-icon-linkedin-in {
                                                            background-color: #0077b5
                                                        }

                                                        .elementor-social-icon-medium {
                                                            background-color: #00ab6b
                                                        }

                                                        .elementor-social-icon-meetup {
                                                            background-color: #ec1c40
                                                        }

                                                        .elementor-social-icon-mixcloud {
                                                            background-color: #273a4b
                                                        }

                                                        .elementor-social-icon-odnoklassniki {
                                                            background-color: #f4731c
                                                        }

                                                        .elementor-social-icon-pinterest {
                                                            background-color: #bd081c
                                                        }

                                                        .elementor-social-icon-product-hunt {
                                                            background-color: #da552f
                                                        }

                                                        .elementor-social-icon-reddit {
                                                            background-color: #ff4500
                                                        }

                                                        .elementor-social-icon-rss {
                                                            background-color: #f26522
                                                        }

                                                        .elementor-social-icon-shopping-cart {
                                                            background-color: #4caf50
                                                        }

                                                        .elementor-social-icon-skype {
                                                            background-color: #00aff0
                                                        }

                                                        .elementor-social-icon-slideshare {
                                                            background-color: #0077b5
                                                        }

                                                        .elementor-social-icon-snapchat {
                                                            background-color: #fffc00
                                                        }

                                                        .elementor-social-icon-soundcloud {
                                                            background-color: #f80
                                                        }

                                                        .elementor-social-icon-spotify {
                                                            background-color: #2ebd59
                                                        }

                                                        .elementor-social-icon-stack-overflow {
                                                            background-color: #fe7a15
                                                        }

                                                        .elementor-social-icon-steam {
                                                            background-color: #00adee
                                                        }

                                                        .elementor-social-icon-stumbleupon {
                                                            background-color: #eb4924
                                                        }

                                                        .elementor-social-icon-telegram {
                                                            background-color: #2ca5e0
                                                        }

                                                        .elementor-social-icon-thumb-tack {
                                                            background-color: #1aa1d8
                                                        }

                                                        .elementor-social-icon-tripadvisor {
                                                            background-color: #589442
                                                        }

                                                        .elementor-social-icon-tumblr {
                                                            background-color: #35465c
                                                        }

                                                        .elementor-social-icon-twitch {
                                                            background-color: #6441a5
                                                        }

                                                        .elementor-social-icon-twitter {
                                                            background-color: #1da1f2
                                                        }

                                                        .elementor-social-icon-viber {
                                                            background-color: #665cac
                                                        }

                                                        .elementor-social-icon-vimeo {
                                                            background-color: #1ab7ea
                                                        }

                                                        .elementor-social-icon-vk {
                                                            background-color: #45668e
                                                        }

                                                        .elementor-social-icon-weibo {
                                                            background-color: #dd2430
                                                        }

                                                        .elementor-social-icon-weixin {
                                                            background-color: #31a918
                                                        }

                                                        .elementor-social-icon-whatsapp {
                                                            background-color: #25d366
                                                        }

                                                        .elementor-social-icon-wordpress {
                                                            background-color: #21759b
                                                        }

                                                        .elementor-social-icon-xing {
                                                            background-color: #026466
                                                        }

                                                        .elementor-social-icon-yelp {
                                                            background-color: #af0606
                                                        }

                                                        .elementor-social-icon-youtube {
                                                            background-color: #cd201f
                                                        }

                                                        .elementor-social-icon-500px {
                                                            background-color: #0099e5
                                                        }

                                                        .elementor-shape-rounded .elementor-icon.elementor-social-icon {
                                                            border-radius: 10%
                                                        }

                                                        .elementor-shape-circle .elementor-icon.elementor-social-icon {
                                                            border-radius: 50%
                                                        }
                                                    </style>	
                                                    <div class="elementor-social-icons-wrapper elementor-grid">
                                                        <span class="elementor-grid-item">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon- elementor-repeater-item-ece0542" target="_blank">
                                                                <span class="elementor-screen-only"></span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-110 1 511 511.99996"><path d="m180 512h-81.992188c-13.695312 0-24.835937-11.140625-24.835937-24.835938v-184.9375h-47.835937c-13.695313 0-24.835938-11.144531-24.835938-24.835937v-79.246094c0-13.695312 11.140625-24.835937 24.835938-24.835937h47.835937v-39.683594c0-39.347656 12.355469-72.824219 35.726563-96.804688 23.476562-24.089843 56.285156-36.820312 94.878906-36.820312l62.53125.101562c13.671875.023438 24.792968 11.164063 24.792968 24.835938v73.578125c0 13.695313-11.136718 24.835937-24.828124 24.835937l-42.101563.015626c-12.839844 0-16.109375 2.574218-16.808594 3.363281-1.152343 1.308593-2.523437 5.007812-2.523437 15.222656v31.351563h58.269531c4.386719 0 8.636719 1.082031 12.289063 3.121093 7.878906 4.402344 12.777343 12.726563 12.777343 21.722657l-.03125 79.246093c0 13.6875-11.140625 24.828125-24.835937 24.828125h-58.46875v184.941406c0 13.695313-11.144532 24.835938-24.839844 24.835938zm-76.8125-30.015625h71.632812v-193.195313c0-9.144531 7.441407-16.582031 16.582032-16.582031h66.726562l.027344-68.882812h-66.757812c-9.140626 0-16.578126-7.4375-16.578126-16.582031v-44.789063c0-11.726563 1.191407-25.0625 10.042969-35.085937 10.695313-12.117188 27.550781-13.515626 39.300781-13.515626l36.921876-.015624v-63.226563l-57.332032-.09375c-62.023437 0-100.566406 39.703125-100.566406 103.609375v53.117188c0 9.140624-7.4375 16.582031-16.578125 16.582031h-56.09375v68.882812h56.09375c9.140625 0 16.578125 7.4375 16.578125 16.582031zm163.0625-451.867187h.003906zm0 0"></path></svg>
                                                            </a>
                                                        </span>
                                                        <span class="elementor-grid-item">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon- elementor-repeater-item-6f86593" target="_blank">
                                                                <span class="elementor-screen-only"></span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.271 511.271" style="enable-background:new 0 0 511.271 511.271;" xml:space="preserve"><g>	<g>		<path d="M508.342,94.243c-2.603-2.603-6.942-3.471-10.414-2.603l-17.356,6.075c10.414-12.149,17.356-25.166,21.695-37.315   c1.736-4.339,0.868-7.81-1.736-10.414c-2.603-2.603-6.942-3.471-10.414-1.736c-24.298,10.414-45.125,19.092-62.481,24.298   c0,0.868-0.868,0-1.736,0c-13.885-7.81-47.729-25.166-72.027-25.166c-61.614,0.868-111.078,52.936-111.078,116.285v3.471   c-90.251-17.356-139.715-43.39-193.519-99.797L40.6,58.663l-5.207,10.414c-29.505,56.407-8.678,107.607,25.166,142.319   c-15.62-2.603-26.034-7.81-35.58-15.62c-3.471-2.603-7.81-3.471-12.149-0.868c-3.471,1.736-5.207,6.942-4.339,11.281   c12.149,40.786,42.522,73.763,75.498,93.722c-15.62,0-28.637-1.736-41.654-10.414c-3.471-1.736-8.678-1.736-12.149,0.868   s-5.207,6.942-3.471,11.281c15.62,44.258,45.993,67.688,94.59,73.763c-25.166,14.753-58.142,26.902-109.342,27.77   c-5.207,0-9.546,3.471-11.281,7.81c-1.736,5.207,0,9.546,3.471,13.017c31.241,25.166,100.664,39.919,186.576,39.919   c152.732,0,277.695-136.244,277.695-303.729v-2.603c19.092-9.546,34.712-27.77,42.522-52.936   C511.813,101.185,510.945,96.846,508.342,94.243z M456.274,143.707l-5.207,1.736v14.753   c0,157.939-117.153,286.373-260.339,286.373c-78.97,0-131.905-13.017-160.542-26.902c59.878-4.339,94.59-23.431,121.492-44.258   l21.695-15.62h-26.034c-49.464,0-79.837-13.885-97.193-46.861c15.62,5.207,32.108,5.207,50.332,4.339   c6.942-0.868,13.885-0.868,20.827-0.868l2.603-17.356c-32.976-9.546-72.027-39.051-91.119-78.969   c17.356,7.81,36.447,9.546,53.803,9.546h26.902L91.8,213.999c-18.224-13.017-72.027-59.01-45.993-124.963   c55.539,54.671,108.475,79.837,203.932,97.193l10.414,1.736v-24.298c0-53.803,41.654-98.061,93.722-98.929   c19.959-0.868,52.936,17.356,62.481,22.563c5.207,2.603,10.414,3.471,15.62,1.736c13.017-4.339,28.637-10.414,45.993-17.356   c-7.81,13.017-18.224,25.166-32.108,36.448c-3.471,2.603-4.339,7.81-2.603,12.149c1.736,4.339,6.942,6.075,11.281,4.339   l33.844-11.281C482.308,124.616,472.762,137.633,456.274,143.707z"></path>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-5534f4a4" data-id="5534f4a4" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-518af03c elementor-widget elementor-widget-heading" data-id="518af03c" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h4 class="elementor-heading-title elementor-size-default">Recent Posts</h4>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-168a1695 elementor-grid-1 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-widget elementor-widget-posts" data-id="168a1695" data-element_type="widget" data-settings="{&quot;classic_columns&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:22,&quot;sizes&quot;:[]},&quot;classic_columns_tablet&quot;:&quot;2&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid elementor-has-item-ratio">
                                                        <article class="elementor-post elementor-grid-item post-1705 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                                            <a class="elementor-post__thumbnail__link" href="https://cheapcompanysetup.com.au/6-steps-to-forming-a-company/">
                                                                <div class="elementor-post__thumbnail"><img width="660" height="854" src="~/Content/images/5_6262641571217278083-_1_-791x1024.png" class="attachment-large size-large" alt="" loading="lazy"></div>
                                                            </a>
                                                            <div class="elementor-post__text">
                                                                <h3 class="elementor-post__title">
                                                                    <a href="https://cheapcompanysetup.com.au/6-steps-to-forming-a-company/">
                                                                        6 STEPS TO FORMING A COMPANY
                                                                    </a>
                                                                </h3>
                                                            </div>
                                                        </article>
                                                        <article class="elementor-post elementor-grid-item post-1413 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                                            <a class="elementor-post__thumbnail__link" href="https://cheapcompanysetup.com.au/new-federal-laws-make-digital-signing-of-deeds-permanent/">
                                                                <div class="elementor-post__thumbnail elementor-fit-height"><img width="660" height="264" src="~/Content/images/asset-1.jpeg" class="attachment-large size-large" alt="" loading="lazy"></div>
                                                            </a>
                                                            <div class="elementor-post__text">
                                                                <h3 class="elementor-post__title">
                                                                    <a href="https://cheapcompanysetup.com.au/new-federal-laws-make-digital-signing-of-deeds-permanent/">
                                                                        New Federal Laws Make Digital Signing of Deeds Permanent
                                                                    </a>
                                                                </h3>
                                                            </div>
                                                        </article>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section style="background-color:#f7f7f7;" class="elementor-section elementor-top-section elementor-element elementor-element-7da9c5a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7da9c5a1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-bcade85" data-id="bcade85" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-727cbb26 elementor-widget elementor-widget-text-editor" data-id="727cbb26" data-element_type="widget" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    © 2022  Cheap Company Setup ABN: 92 654 595 285
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-54a68f79" data-id="54a68f79" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-7b0c03fc elementor-icon-list--layout-inline elementor-align-right elementor-tablet-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7b0c03fc" data-element_type="widget" data-widget_type="icon-list.default">
                                <div class="elementor-widget-container">
                                    <ul class="elementor-icon-list-items elementor-inline-items">
                                        <li class="elementor-icon-list-item elementor-inline-item">
                                            <a href="https://cheapcompanysetup.com.au/privacy-policy">

                                                <span class="elementor-icon-list-text">Privacy Policy</span>
                                            </a>
                                        </li>
                                        <li class="elementor-icon-list-item elementor-inline-item">
                                            <a href="https://cheapcompanysetup.com.au/terms-and-conditions/">

                                                <span class="elementor-icon-list-text">Terms and conditions</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <!-- Scripts
    ================================================== -->

        <script type="text/javascript" src="~/Content/scripts/chosen.min.js"></script>
        <script type="text/javascript" src="~/Content/scripts/owl.carousel.min.js"></script>
        <script src="~/Content/scripts/magnific-popup.min.js"></script>
        <script type="text/javascript" src="~/Content/scripts/sticky-kit.min.js"></script>
        <script type="text/javascript" src="~/Content/scripts/slick.min.js"></script>
        <script type="text/javascript" src="~/Content/scripts/masonry.min.js"></script>
        <script type="text/javascript" src="~/Content/scripts/jquery.jpanelmenu.js"></script>
        <script type="text/javascript" src="~/Content/scripts/tooltips.min.js"></script>
        <script type="text/javascript" src="~/Content/scripts/custom.js"></script>


    </div>

</body>
</html>