<div class="main-content container-fluid" id="bindview">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-divider">
                    Reset User password
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-8">

                            @Html.Raw(ViewBag.msg)

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label class="control-label col-md-2">User Email</label>
                                        <div class="col-md-10">
                                            <input type="email" class="form-control" name="useremail" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">New Password</label>
                                        <div class="col-md-10">
                                            <input type="password" class="form-control" name="newpass" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Confirm Password</label>
                                        <div class="col-md-10">
                                            <input type="password" class="form-control" name="confirmpass" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Reset password" class="btn btn-info" />
                                            @*<a href="/admin/profile" class="pull-right">Back</a>*@
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
