<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="LogDirectory" value="C:\comdeedsLog\" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="username_asic" value="ASICM2MRA@FREEDOMWEALTH.COM.AU" />
    <add key="password_asic" value="a*!jfep50d" />
    <add key="domain" value="http://comdeeds.com.au" />
    <add key="senderId" value="000036194" />
    <add key="senderType" value="REGA" />
    <add key="asicserver" value="edge2.asic.gov.au" />
    <add key="asic_pin" value="PB2C4E9E9L" />
    <add key="userid" value="A12244" />
    <add key="oldpass" value="A12255" />
    <add key="newpass" value="A12255" />
    <add key="agentno" value="36194" />
    <add key="s_serialidentifier" value="6fce562f1f7ede63f8bddf5c73e6b07f" />
    <add key="version" value="2083" />
    <add key="asicserver1" value="edge1.asic.gov.au" />
    <add key="asicserver2" value="edge2.asic.gov.au" />
    <add key="s_certificateFileName" value="ComDeeds.pem" />
    <add key="s_port" value="5610" />
    <add key="FromMail" value="info@comdeeds.com.au" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="CommpanyEmailID" value="info@comdeeds.com.au" />
    <add key="accounts_Pwd" value="Destiny1@" />
    <add key="DownloadCertificatepath" value="C:/inetpub/wwwroot/ExportedFiles" />
    <add key="support" value="info@comdeeds.com.au" />
    <add key="support_Pwd" value="Destiny1@" />
    <add key="info" value="info@comdeeds.com.au" />
    <add key="info_Pwd" value="Destiny1@" />
    <add key="username" value="info@comdeeds.com.au" />
    <add key="password" value="Destiny1@" />
    <add key="mailserver" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="ssl" value="true" />
    <add key="toMailCC" value="info@comdeeds.com.au" />
    <add key="toMailBCC" value="info@comdeeds.com.au" />
  </appSettings>

  <connectionStrings>
     <add name="MyDbContext" connectionString="Data Source=WIN-59JDF64IOMC\SQLEXPRESS;Initial Catalog=comdeedtesting;Integrated Security=True" providerName="System.Data.SqlClient" />
     <add name="ods" connectionString="Data Source=WIN-59JDF64IOMC\SQLEXPRESS;Initial Catalog=comdeedtesting;Integrated Security=True" providerName="System.Data.SqlClient" />
    
    <!--<add name="connectionstr" connectionString="Data Source=.MSSQLSERVER2014;Initial Catalog=comdeeds_company;User ID=comdeeds;password=Fa8y@v56sm6hL@54" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>


  <system.web>
     <customErrors mode="Off" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" executionTimeout="3600" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="externalQueryNameAvailabilitySoapBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport authenticationScheme="Basic" realm="ASIC" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.gateway.asic.gov.au/gateway/ExternalQueryNameAvailabilityPortV2" binding="customBinding" bindingConfiguration="externalQueryNameAvailabilitySoapBinding" contract="QueryNameService.ExternalQueryNameAvailability" name="ExternalQueryNameAvailabilityPortV2" />
    </client>
  </system.serviceModel>
<system.webServer>
<staticContent>
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
<httpProtocol>
     <!-- <customHeaders> -->
       <!-- <add name="Access-Control-Allow-Origin" value="*" /> -->
     <!-- </customHeaders> -->
   </httpProtocol>
    <handlers>
            <remove name="PHP53_via_FastCGI" />
            <remove name="PHP_via_FastCGI4" />
            <remove name="PHP_via_FastCGI1" />
            <remove name="PHP_via_FastCGI" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="/c/index.php" />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
  </system.webServer></configuration>